@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-dark: #192130;
  --toastify-color-progress-dark: #94a3b8;
  --toastify-text-color-dark: #94a3b8;

  --toastify-color-light: #cbd5e1;
  --toastify-color-progress-light: #475569;
  --toastify-text-color-light: #475569;
}
